In [2]:
#import names
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date
import random
from IPython.display import display

def randomBirthday(startyear, endyear):
    T1 = date.today().replace(day=1, month=1, year=startyear).toordinal()
    T2 = date.today().replace(day=1, month=1, year=endyear).toordinal()
    return date.fromordinal(random.randint(T1, T2))

def age(birthday):
    today = date.today()
    return today.year - birthday.year - ((today.month, today.day) < (birthday.month, birthday.day))

In [ ]:
##########################
# People DataFrame
##########################
N_PEOPLE = 20
dict_people = { }
genders = np.array(['male','female'])
professions = np.array(['Carpenter', 'Teacher', 'Clown', 'Policeman'])
randSetSelect = lambda arr, N: arr[np.random.randint(0, len(arr), N)]

dict_people['gender'] = randSetSelect(genders, N_PEOPLE)
dict_people['profession'] = randSetSelect(professions, N_PEOPLE)
dict_people['name'] = [names.get_full_name(gender=g) for g in dict_people['gender']]

peopleFrame = pd.DataFrame(dict_people)

# Example 1: Add new columns to the data frame
peopleFrame['birthday'] = [randomBirthday(1920, 2020) for i in range(N_PEOPLE)]

# Example 2: Simple function of a column
peopleFrame['firstNames'] = [name.split(" ")[0] for name in dict_people['name']]

# Example 3: Select subset from a data frame
peopleFrameMale = peopleFrame.loc[peopleFrame['gender'] == 'male']
#display(peopleFrameMale)

# Example 4: Select based on arbitrary function of a column
peopleFrameOld = peopleFrame.loc[peopleFrame['birthday'].apply(age) >= 50]
display(peopleFrameOld)

# Example 5: Contract subset
# peopleFrame[['gender', 'profession']]

##########################
# Salary DataFrame
##########################
# dict_salary = {p : [s] for p,s in zip(professions, np.random.randint(20, 150, len(professions)))}
# salaryFrame = pd.DataFrame(dict_salary)
# display(salaryFrame)

In [10]:
testDict = {"Name" : ["Spike", "Timmy"], "Type" : ["Dog", "Mouse"], "Age" : [6, 2]}
df = pd.DataFrame(testDict, index=[0,1])
df.append({"Name" : "Johnny", "Type" : "Cat", "Age" : 7}, ignore_index=True)

     Name   Type  Age
0   Spike    Dog    6
1   Timmy  Mouse    2
2  Johnny    Cat    7